@use '@/styles/helpers' as *;

.current-user-actions {
  display: flex;
  align-items: center;
  column-gap: 12px;

  &__button {
    @include flex-center;
    @include square(36px);

    background-color: white;
    transition: background-color 0.25s;
    border-radius: var(--border-radius-xs);
    border: var(--border);
    box-shadow: var(--shadow);

    &:hover {
      background-color: var(--color-gray-55);
    }
  }
}
