.messages {
  &__date {
    font-size: 12px;
    color: var(--color-gray-55);
    text-align: center;
    margin-block: 30px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 30px;
  }
}