<label class="avatar">
    <input class="avatar__input visually-hidden" type="file" placeholder="Поменять аватар" name="avatar">
    <img class="avatar__preview" src="{{avatar}}" width="130" height="130" alt="">
</label>