<div class="current-user">
    <div class="current-user__avatar-wrapper">
        <img
                class="current-user__avatar"
                src="./assets/images/chat/users/1.png"
                width="48"
                height="48"
                alt="Андрей"
        />
        <span class="current-user__online-indicator">
      <svg width="8" height="9" viewBox="0 0 8 9" fill="none">
        <ellipse cx="4" cy="4.23889" rx="4" ry="4.23889" fill="#05DF72"/>
      </svg>
    </span>
    </div>

    <div class="current-user__info">
        <span class="current-user__name">Андрей</span>
        <span class="current-user__status">Online</span>
    </div>
</div>
