<label class="message-field {{className}}">
  <span class="visually-hidden">
    Сообщение
  </span>

    <input
            class="message-field__input"
            type="text"
            name="message"
            autocomplete="off"
            placeholder="Сообщение"
    />
</label>
