<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
<header style="position: absolute; z-index: 20;">
    <nav>
        <ul style="display: flex; gap: 15px;">
            <li><a href="../index.html">main</a></li>
            <li><a href="../login.html">login</a></li>
            <li><a href="../register.html">register</a></li>
            <li><a href="../profile.html">profile</a></li>
            <li><a href="../profile.html">profile</a></li>
            <li><a href="../500.html">500</a></li>
        </ul>
    </nav>
</header>
<main>
    {{> @partial-block }}
</main>

</body>
<script type="module" src="./main.js"></script>
</html>
